.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.hero h2 {
  text-align: center;
  font-size: 40px;
}

.hero-text {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-align: center;
}

.hero p {
  width: 50%;
  text-align: center;
  margin: 0 auto 30px auto;
}

.hero-button {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(54, 54, 54);
  padding: 10px 30px;
  font-weight: 600;
  transition: box-shadow 0.2s ease-in-out;
}

.hero-button:hover {
  box-shadow: 0 5px 4px 0 rgb(0 0 0 / 16%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  background-color: #070042;
  color: #ffffff;
}

@media (max-width: 767px) {
  .hero p {
    width: 75%;
    text-align: center;
    margin: 0 auto 30px auto;
  }
  .hero h2 {
    text-align: center;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
