.nav {
  display: flex;
  height: 50px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 99999999;
}
.nav img {
  height: auto;
  width: 100px;
}

.nav-left {
  justify-content: flex-start;
}
.nav-center {
  justify-content: center;
}
.nav-center a {
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}
.nav-center a:hover {
  font-weight: 600;
}
.nav-right a {
  justify-content: flex-end;
  font-size: 24px;
}
.nav-text {
  text-decoration: none;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  padding: 0 15px;
}
