.user-container {
  display: flex;
  width: 33%;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.user-container .user {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  margin: 5px 0;
  padding: 0px 20px 20px 20px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  font-family: "Open Sans";
  height: auto;
  color: #444444;
}

.user-container .user h2,
h3 {
  text-align: left;
}
.user-container .user span {
  font-size: 18px;
  margin: 5px 0;
}
.user-container .user span strong {
  color: #113d69;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px 0;
}
.buttons-group .button-back {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: 600;
  padding: 10 15;
  transition: opacity 300ms linear;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
}
.buttons-group .button-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  background-color: #0a2540;
  color: #ffffff;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: 600;
  padding: 10 15;
  transition: opacity 300ms linear;
  cursor: pointer;
}

.buttons-group .button-edit:hover,
.buttons-group .button-back:hover {
  opacity: 0.7;
}
